# Values: production, development, staging
ENVIRONMENT=development

# API URL
# use the local ip address for connected physical devices
# use 10.0.2.2 for Android emulator
# use localhost for iOS simulator
DEV_API_URL=http://10.0.2.2:3000/api/v0/
API_URL=https://api.example.com/api

WS_URL=http://192.168.100.3:3000

MAPY_BASIC_URL=https://api.mapy.com/v1/maptiles/basic/256/{z}/{x}/{y}?apikey=
MAPY_OUTDOOR_URL=https://api.mapy.com/v1/maptiles/outdoor/256/{z}/{x}/{y}?apikey=
MAPY_WINTER_URL=https://api.mapy.com/v1/maptiles/winter/256/{z}/{x}/{y}?apikey=
MAPY_AERIAL_URL=https://api.mapy.com/v1/maptiles/aerial/256/{z}/{x}/{y}?apikey=
MAPY_KEY=
